<mat-card class="example-card mt-4">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>3D file loading</mat-card-title>
    <mat-card-subtitle>(Taken from author's side project to demonstrate lazy-loading)</mat-card-subtitle>
  </mat-card-header>


  <mat-card-content>
  <canvas #canvas id="canvas"  style="height: 90vh; width: 100%;" ></canvas>



  <div [style.display] ="loading< 100 ? 'flex' : 'none'" class="h-100 vw-100 align-items-center justify-content-center over">
    <div  class="mat-mdc-card " style="padding:2em;height:auto;">
      <br>loading 3D reference file <br>
      <ngb-progressbar type="success" [value]="loading" [striped]="true"></ngb-progressbar>

    </div>
  </div>

  </mat-card-content>
</mat-card>



