
<mat-card class="example-card mt-4 mb-8">
  <mat-card-header>

    <mat-card-title>Face recognition component (Mediapipe)</mat-card-title>
    <mat-card-subtitle>Purpose of service is to teach people drawing using recognized helpers lines</mat-card-subtitle>
  </mat-card-header>


  <mat-card-content>
    <div *ngIf="hasGetUserMedia() else nomedia" class="relative"  [style]="'padding-top:'.concat(responsiveService.wH==400?'66':'133','%')">

      <Video class="w-100 absolute top-0 left-0" [style.display]="mode=='image'?'none':'none'" #myVideo autoplay></Video>
    <canvas #myCanvas class="w-full absolute top-0 left-0" [width]="responsiveService.wW" [height]="responsiveService.wH"></canvas>

  <div *ngIf="(!webcamRunning || !results?.faceLandmarks) && !test"  class="absolute bg-opacity-25 bg-gray-400 flex align-items-center top-0 left-0 w-full h-full flex-c justify-content-center">
    <button *ngIf="!webcamRunning"  class="bg-white" mat-raised-button (click)="enableCam($event)">
      <mat-icon aria-hidden="false"  fontIcon="videocam"></mat-icon>ENABLE CAMERA
    </button>

    <mat-spinner *ngIf="webcamRunning && !results?.faceLandmarks" ></mat-spinner>
  </div>
    </div>
    <ng-template #nomedia>

      Sorry, No media device detected.


    </ng-template>
  </mat-card-content>
  <mat-card-actions>
    <ng-container *ngIf="webcamRunning && results?.faceLandmarks">
      <div>
    <button  color="primary" class="m-2"  mat-raised-button  *ngIf="serving" (click)="stop()"> STOP SERVICE</button>
      <div class="mx-2" *ngIf="serving">Makes a shapshot of helpers and image, one can draw head using the helpers lines</div>
      </div>   <button  color="primary" class="m-2"  mat-raised-button  *ngIf="!serving" (click)="serving=true"> RUN SERVICE</button>
      <button  class="m-2"   mat-raised-button  *ngIf="!serving" (click)="draw=true"> Draw</button>
    </ng-container>
  </mat-card-actions>
</mat-card>

